body{
    background-size: cover;
}
#start{
    font-size: 18px;
}
#status, #number_of_objects, #start{
    font-size: 18px;
}
.copy_right_footer{
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
    color: white;
}.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 150px;
    box-shadow: 5px 5px 5px white;
}